*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "sherborne-variable", sans-serif;

}

body{
    width: 100%;
    min-height: 100dvh;
    overflow-y: hidden;
    user-select: none;
}

.overlay{
    width: 100%;
    height: 100dvh;
    background-color: rgba(0, 0, 0, 0.5);
}

.cursive-title{
    font-family: 'hummingbird';
    font-size: 5em;
}

/* banner */

header{
    width: 100%;
    min-height: 100dvh;
    background-image: url(img/cande.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
}

header div{
    width: 100%;
    height: 100dvh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header div span{
    font-size: 1em;
    letter-spacing: 7px;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 10px 10px 10px red;
    position: relative;
}

header div h2{
    font-family: "hummingbird";
    font-weight: 400;
    font-style: normal;
    font-size: 10em;
    letter-spacing: 5px;
}

header div p{
    position: absolute;
    font-size: 2em;
    letter-spacing: 5px;
    bottom: 250px;
}

header div a{
    font-size: 2em;
    letter-spacing: 5px;
    position: absolute;
    bottom: 70px;
}

/* main */
/* timer */

#timer-section{
    width: 100%;
    height: 100dvh;
    background-image: url(img/room.jpeg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: white;
    line-break: auto;
}

#timer-section .overlay{
    display: flex;
    justify-content: space-around;
    gap: 35px;
    align-items: center;
    flex-direction: column;
}

#countdown{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    font-family: "sherborne-variable", sans-serif;
}

.timer{
    display: flex;
    gap: 5px;
}

#countdown .n span{
    font-size: 4em;

}

/* info */
#info-section{
    width: 100%;
    height: 100dvh;
    background-image: url(img/flowers.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: white;
}

#info-section .overlay{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

#info-box{
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 50px;
    position: relative;
    top: -50px;
}

#info-text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

#info-text h3{
    font-size: 40px;
    font-family: "sherborne-variable", sans-serif;

}

#info-text h4{
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: 400;
}

.btn{
    display: flex;
    justify-content: center;
    gap: 5px;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    border-radius: 50px;
    padding: 10px 10px;
    text-align: center;
    font-size: 20px;
}

/* reminder */

#reminder-section{
    width: 100%;
    height: 100dvh;
    background-image: url(img/piano.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: white;
}

#reminder-box{
    width: 80%;
    height: 500px;
    border: 1px solid white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 30px;
}

#reminder-box h1{
    font-size: 7em;
    font-family: "hummingbird";
    margin: 0;
}

#reminder-section .overlay{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

#reminder-text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

#reminder-text div h3{
    font-size: 40px;
    margin-bottom: 10px;
    font-family: "sherborne-variable", sans-serif;

}

#reminder-text div h4{
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: 400;
}

#reminder-text div h4 span{
    text-decoration: line-through;
    padding: 5px 10px;
    border-radius: 5px;
}


/* mp-section */
#mp-section{
    width: 100%;
    height: 100dvh;
    background-image: url(img/table.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: white;
}

#mp-section .overlay{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

#mp-box{
    width: 80%;
    height: 550px;
    border: 1px solid white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 30px;
}

#mp-box h1{
    position: relative;
    font-size: 7em;
    font-family: "hummingbird";
    margin: 0;
    top: -60px;
    margin-bottom: 10px;
}

#mp-box hr{
    color: white;
    border: 1px solid white;
    width: 50%;
    position: relative;
    top: 30px;
    margin-bottom: 20px;
}
#mp-box h2{
    font-size: 2em;
    font-weight: 600;
}
#mp-box p{
    font-size: 1.5em;
}
#mp-box p span{
    cursor: pointer;
}

/* footer */

footer{
    width: 100%;
    height: 100dvh;
    background-image: url(img/gate.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .overlay{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 50px;
}

footer .footer-text{
    width: 90%;
}


footer .overlay h1{
    font-size: 8em;
}
footer .overlay h3{
    font-size: 3em;
}
footer .overlay p{
    font-size: 1.4em;
    font-family: "sherborne-variable", sans-serif;

}


@media screen and (min-width: 768px) {
    header div span{
        font-size: 1em;
    }
    header div h2{
        font-size: 5em;
        letter-spacing: 5px;
    }
}